# =========================
# Python cache & compiled
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environment
# =========================
venv/
.env/
.venv/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Build / distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# PySpark / Big Data temp
# =========================
metastore_db/
spark-warehouse/

# =========================
# Data files (optional)
# =========================
data/
*.csv
*.parquet

# =========================
# IDE lain
# =========================
.idea/